* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../img/ocean.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    font-size: 14px;
}


h2 {
    text-transform: uppercase;
    color:rgb(8, 8, 78);
    padding-top: 10px;
}

.wrapper {
    box-sizing: border-box;
    max-width: 480px;
    height: auto;
    margin: auto;
    padding: 50px 40px;
    background-color: white;
}

p, h2, h3 {
    margin: 20px 0px;
}

img {
    max-width: 100%;
}

.inline-block {
    display:inline-block;
    vertical-align: top;
    padding-left: 10%;
}

li {
    list-style-type: none;
    color: rgb(22, 14, 39);
    font-family: Courier New, monospace;
    line-height: 1.5;
}