* {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

h2,
h3 {
    color: darkblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    text-transform: uppercase;    
}

p::first-letter {
    font-size: 30px;
    color:red;
}

.text {
    font-size: 24;
}

.article {
    font-family: velvetica;
}

ul {
    list-style-image:url(./img/pointer.png);
    padding-left: 30px;
    padding-top: 20px;
}

